    .imperial-script-regular {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    }



    body {
        background-color: #ffc2d1;
        justify-items: center;
    }



    .click{
        
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        box-sizing: border-box;
        max-width: 90%;
        width: auto;
        text-align: center;
        font-size: 38px;
        font-family: "Imperial Script", cursive;
        font-weight: 900;
        border: 5px solid #ff8fab;
        border-radius: 20px;
        background-color: #ffe5ec;
        transition: transform 150ms ease-in-out, background-color 150ms ease-in-out;
        

        &:hover {
            transform: translate(-50%, -50%) scale(1.05);
            background-color: #ffd6dc;
        }
    }


    .mainBox{
        border-radius: 20px;
        border: 5px solid  #ff8fab ;
        background-color: #ffe5ec;
        margin-top: 1vh;
        min-height: 90vh;
        width: 90vw;
        
    }

    .titleBox{
        margin-left: 5%;
        margin-top: 2.5vh;
        width: 85%;
        text-align: center;
        font-size: 100%;
        font-family: "Imperial Script", cursive;
        font-weight: 900;
        border: 5px solid #ff8fab;
        border-radius: 20px;
        background-color: #ffe5ec;
        
    }

    .header{
        width: 95%;
        justify-content: space-between;
        font-size: 100%;
        font-family: "Imperial Script", cursive;
        font-weight: 900;
        border: 5px solid #ff8fab;
        border-radius: 20px;
        background-color: #ffe5ec;
        border-top-left-radius: 0px;
        margin-top: 0px;
    }

    .buttoni{
        right: 10px;
        font-size: 80%;
        font-family: "Imperial Script", cursive;
        font-weight: 1000;
        border: 5px solid #ff8fab;
        border-radius: 20px;
        background-color: #ffe5ec;
        &:hover {
            background-color: #ffd6dc;
        }
    }

    .letterBox {
        margin-left: 5%;
        margin-top: 2.5vh;
        width: 85%;
        text-align: center;
        font-size: 100%;
        font-weight: 900;
        border: 5px solid #ff8fab;
        border-radius: 20px;
        background-color: #ffe5ec;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        height: 100px;
        transition: all 0.6s ease;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .letterBox.expanded {
        height: 80%;
    }

    .LetterTitle {
        color: black;
        text-align: center;
        margin: 0;
        padding: 25px 0;
        font-size: 2em;
        font-family: "Imperial Script", cursive;
    }

    .arrow {
    position: absolute;
    right: 15px;
    top: 20%;
    transform: translateY(-75%);
    font-size: 28px;
    transition: transform 0.4s ease;
    }

    .letterBox.expanded .arrow {
        transform: translateY(-125px) rotate(-90deg);
    }

    .letter {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s ease;
        color: #6d6875;
        font-size: 1.3em;
        padding-bottom: 25px;
        padding-bottom: 25px;
    }

    .letterBox.expanded .letter {
        opacity: 1;
        max-height: 80%;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .music{
        margin-left: 10%;
        margin-top: 1.8vh;
        width: 75%;
        height: 153px;
        text-align: center;
        font-size: 100%;
        font-weight: 900;
        border: 5px solid #ff8fab;
        border-radius: 20px;
        background-color: #ffe5ec;
        overflow: hidden;
        
    }

    
/* Gallery Box */
.galleryBox {
    margin: 1vh 5%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.galleryBox img {
    max-width: auto;
    border-radius: 12px;
    border: 3px solid #ff8fab;
    cursor: pointer;
    transition: transform 0.3s ease;
    max-height: 500px;
}

.galleryBox img:hover {
    transform: scale(1.05);
}
